* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #FAFAFA;
    --grey-500: #4D4F62;
    --grey-400: #6A7178;
    --white: #FFFFFF;

    --red: #EA5454;
    --cyan: #44D3D2;
    --blue: #549EF2;
    --orange: #FCAE4A;

    --gap-0-5: 0.5em;
    --gap-1: 1em;
    --gap-1-5: 1.5em;
    --gap-2: 2em;
    --gap-2-5: 2.5em;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--grey-500);
    font-size: 0.95rem;
    letter-spacing: 0;
}

h1 {
    font-weight: 600;
    line-height: 1.4;
    font-size: 2.25em;
    letter-spacing: 0.25px;
}

.extra-light-text {
    font-weight: 200;
}

h2 {
    font-weight: 600;
    line-height: 1.35;
    font-size: 1.25em; 
}

p {
    font-weight: 400;
    line-height: 1.4;
}

small {
    font-weight: 400;
    line-height: 1.6;
    font-size: 0.8em;
}